hls_thread_local hls::stream<{{ connection_type }}, 2> connection;

hls_thread_local hls::task mux([&]() {static_mux(std::index_sequence<{{ sequence }}>(), connection, {{ inputs }}); });
hls_thread_local hls::task demux([&]() {static_demux(connection, {{ outputs }}); });
